body 
{
    text-align: left;
    font-family: "Arial";
    color: blue;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 5px;
    text-align: center;
    border: 2px solid #DDD;
    margin: auto;
}

#container h1{
    font-size: 25px;
}

#cabecera{
    background-color: dodgerblue;
    padding: 2px;
    color: whitesmoke;
    margin-bottom: 30px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
        
}

#container-footer{
    width: 70%;
    padding: 5px;
    text-align: center;
    border: 2px solid #DDD;
    margin: auto;
}

#footer{
    background-color: dodgerblue;
    color: whitesmoke;
}